
body{
  background-color: white;
}
header{
  background-color: white;
}

.tabs1{
  /* Services */


  position: absolute;
  width: 96px;
  height: 28px;
  left: 23px;
  top: 12px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  /* identical to box height */


  color: #2E1E0F;

  position: absolute;
width: 143px;
height: 52px;
left: 266px;
top: 30px;


box-sizing: border-box;



background: #FFFFFF;
border: 1px solid #D7B935;
border-radius: 14px;
}



.tabs2{
  position: absolute;
width: 108px;
height: 28px;
left: 496px;
top: 60px;

font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
text-align: center;
/* identical to box height */


color: #2E1E0F;


box-sizing: border-box;

position: absolute;
width: 143px;
height: 52px;
left: 479px;
top: 30px;

background: #FFFFFF;
border: 1px solid #D7B935;
border-radius: 14px;
}
.tabs3{

  position: absolute;
width: 82px;
height: 28px;
left: 714px;
top: 60px;

font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
text-align: center;
/* identical to box height */


color: #2E1E0F;

box-sizing: border-box;

position: absolute;
width: 143px;
height: 52px;
left: 684px;
top: 30px;

background: #FFFFFF;
border: 1px solid #D7B935;
border-radius: 14px;
}

.tabs4{

position: absolute;
width: 128px;
height: 28px;
left: 900px;
top: 60px;

font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
text-align: center;
/* identical to box height */


color: #2E1E0F;

box-sizing: border-box;

position: absolute;
width: 143px;
height: 52px;
left: 892px;
top: 30px;

background: #FFFFFF;
border: 1px solid #D7B935;
border-radius: 14px;
}

.tabs5{

  position: absolute;
  width: 92px;
  height: 28px;
  left: 1122px;
  top: 60px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  /* identical to box height */


  color: #2E1E0F;

  box-sizing: border-box;

position: absolute;
width: 143px;
height: 52px;
left: 1096px;
top: 30px;

background: #FFFFFF;
border: 1px solid #D7B935;
border-radius: 14px;

}


#logo{

  position: absolute;
  width: 450px;
  height: 289px;
  left: 58px;
  top: 245px;

  background: url(logo.png);



}

#logo1{
  position: absolute;
  width: 450px;
  height: 289px;
  left: 1040px;
  top: 245px;


}


.image{


  position: absolute;
  width: 1522px;
  height: 545px;
  left: -1px;
  top: 146px;


  opacity: 0.2;
}

.fontlogo{

  position: absolute;
  width: 760px;
  height: 603px;
  left: 400px;
  top: 88px;

  }
.tagline{

  position: absolute;
  width: 250px;
  height: 28px;
  left: 810px;
  top: 425px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #2E1E0F;
}
.booknow{
  position: absolute;
width: 250px;
height: 61px;
left: 653px;
top: 545px;




background: #2E1E0F;
border-radius: 14px;



}
.booknow{
  position: absolute;
  width: 160px;
  height: 28px;
  left: 715px;
  top: 561px;
  text-align: center;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height */


  color: #FFFFFF;

/* identical to box height */


color: #FFFFFF;

    padding: 8px;
    background: #2E1E0F;
border-radius: 14px;
}
.info{
  position: absolute;
width: 1522px;
height: 185px;
left: 0px;
top: 691px;

background: #D7B935;

}
.text{
  position: absolute;
  width: 982px;
  height: 41px;
  left: 282px;
  top: 725px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #2E1E0F;

}
.serv{
  position: absolute;
  width: 1522px;
  height: 647px;
  left: -1px;
  top: 876px;

  background: #FFFFFF;
}

.texthead{

  position: absolute;
width: 192px;
height: 60px;
left: 660px;
top: 990px;

font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 70px;

color: #000000;

box-sizing: border-box;

position: absolute;
width: 298px;
height: 75px;
left: 607px;
top: 900px;

background: #FFFFFF;
border: 1px solid #D7B935;
border-radius: 14px;
text-align: center;
}
.text1{


  position: absolute;
  width: 85px;
  height: 28px;
  left: 234px;
  top: 1370px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #2E1E0F;


  /* identical to box height */


  color: #000000;
}
.text2{

  position: absolute;
  width: 156px;
  height: 28px;
  left: 678px;
  top: 1370px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #2E1E0F;

}
.text3{


  position: absolute;
  width: 129px;
  height: 28px;
  left: 1170px;
  top: 1370px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #2E1E0F;

}
.services1{

  position: absolute;
  width: 285px;
  height: 256px;
  left: 134px;
  top: 1118px;

  background: url(image.png);
  opacity: 0.7;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
    border-radius: 95px;}

.services2{
  /* Rectangle 5 */


  position: absolute;
  width: 285px;
  height: 256px;
  left: 613px;
  top: 1118px;

  background: url(PPT CC .png);
  opacity: 0.7;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
  border-radius: 95px;
}

.services3{
  position: absolute;
width: 285px;
height: 256px;
left: 1092px;
top: 1118px;

background: url(image.png);
opacity: 0.7;
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
border-radius: 95px;
}

.about{
  position: absolute;
width: 1522px;
height: 880px;
left: 0px;
top: 1523px;

background: #2E1E0F;

}
.abouthead{

  position: absolute;
  width: 363px;
  height: 56px;
  left: 574px;
  top: 1628px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight:400;
  font-size: 30px;
  line-height: 90px;
  text-align: center;

  color: #FFFFFF;
  box-sizing: border-box;

position: absolute;
width: 419px;
height: 89px;
left: 543px;
top: 1611px;

border: 1px solid #D7B935;
border-radius: 18px;

}
.tatoopic{

  position: absolute;
width: 336px;
height: 317px;
left: 238px;
top: 1900px;

background: url(image.png);
opacity: 0.7;
filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.6));
border-radius: 95px;
}

.abouttextcon{

  position: absolute;
  width: 484px;
  height: 266px;
  left: 797px;
  top: 1859px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #FFFFFF;
}

.gallery{
  position: absolute;
  width: 1522px;
  height: 657px;
  left: 0px;
  top: 2429px;

  background: #FFFFFF;


}
.galhead{

  position: absolute;
  width: 163px;
  height: 56px;
  left: 671px;
  top: 2487px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 90px;
  text-align: center;

  color: #2E1E0F;

box-sizing: border-box;

position: absolute;
width: 276px;
height: 89px;
left: 614px;
top: 2470px;

border: 1px solid #D7B935;
border-radius: 18px;
}

.photo1{

  box-sizing: border-box;

  position: absolute;
  width: 260px;
  height: 321px;
  left: 230px;
  top: 2668px;

  background: url(image.png);
  border: 1px solid #D7B935;
  border-radius: 63px;
}
.photo2{

  box-sizing: border-box;

  position: absolute;
  width: 260px;
  height: 321px;
  left: 614px;
  top: 2668px;

  background: url(image.png);
  border: 1px solid #D7B935;
  border-radius: 63px;
}

.photo3{

  box-sizing: border-box;

position: absolute;
width: 260px;
height: 321px;
left: 998px;
top: 2668px;

background: url(image.png);
border: 1px solid #D7B935;
border-radius: 63px;
}


.artist{

  position: absolute;
  width: 1512px;
  height: 761px;
  left: 0px;
  top: 3086px;

  background: #2E1E0F;
}

.Artisthead{
  /* Our Artists */


  position: absolute;
  width: 170px;
  height: 37px;
  left: 672px;
  top: 3448px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 80px;
  text-align: center;

  color: #FFFFFF;




box-sizing: border-box;

position: absolute;
width: 351px;
height: 89px;
left: 581px;
top: 3422px;

border: 1px solid #D7B935;
border-radius: 18px;
}

.img1{

  box-sizing: border-box;

  position: absolute;
  width: 268px;
  height: 408px;
  left: 214px;
  top: 3263px;

  background: url(PPT CC (1).png);
  border: 1px solid #000000;
  border-radius: 63px;
}

.img2{

  box-sizing: border-box;

  position: absolute;
  width: 268px;
  height: 418px;
  left: 1030px;
  top: 3263px;

  background: url(PPT CC (1).png);
  border: 1px solid #000000;
  border-radius: 63px;

}

.name1{


  position: absolute;
  width: 222px;
  height: 28px;
  left: 237px;
  top: 3681px;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #D7B935;

}

.name2{

  /* Maskula Godavari */


position: absolute;
width: 208px;
height: 28px;
left: 1060px;
top: 3687px;

font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */


color: #D7B935;
}

.contact{
  position: absolute;
  width: 1522px;
  height: 691px;
  left: 0px;
  top: 3847px;

  background: #FFFFFF;
}

.img3{

  position: absolute;
  width: 1512px;
  height: 322px;
  left: 0px;
  top: 3847px;

  background: url(image.png);
  opacity: 0.3;
}

.conhead{

  position: absolute;
  width: 175px;
  height: 53px;
  left: 672px;
  top: 3990px;

  font-family: 'Gotu';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100px;
  text-align: center;

  color: #2E1E0F;

  box-sizing: border-box;

position: absolute;
width: 370px;
height: 115px;
left: 572px;
top: 3940px;

border: 4px solid #D7B935;
border-radius: 32px;
}

.context{
  position: absolute;
width: 491px;
height: 46px;
left: 896px;
top: 4300px;

font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #2E1E0F;

}

.img4{
  position: absolute;
  width: 221px;
  height: 110px;
  left: 1031px;
  top: 4352px;
}

.img5{
  position: absolute;
width:300px;
height: 242px;
left: 300px;
top: 4239px;

}
.img6{
  position: absolute;
width: 250px;
height: 184px;
left: 132px;
top: 4270px;


}
